In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [32]:
#Tcikerの取得
aapl = yf.Ticker("AAPL")

In [33]:
#Appleの株価を10日分取得する
days = 10
hist = aapl.history(period=f"{days}d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76756000,0,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79209300,0,0
2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0,0
2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0,0
2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0,0
2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0,0
2021-05-28,125.570000,125.800003,124.550003,124.610001,71232700,0,0

In [34]:
#Dateが列ではなく行になっているので列に戻す
hist = hist.reset_index()
hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0,0
1,2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0,0
2,2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0,0
3,2021-05-20,125.230003,127.720001,125.099998,127.309998,76756000,0,0
4,2021-05-21,127.820000,128.000000,125.209999,125.430000,79209300,0,0
5,2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0,0
6,2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0,0
7,2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0,0
8,2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0,0
9,2021-05-28,125.570000,125.800003,124.550003,124.610001,71232700,0,0