In [11]:
import numpy as np
import pandas as pd




df = pd.read_csv("/Users/yukikubota/Desktop/Python/DataAnalitics/user_purchase.csv")

In [12]:
df

    user_id item_id  price        timestamp
0    u00934  item03  100.0  2018/9/30 19:11
1    u00934  item04  100.0  2018/9/30 19:11
2    u00934  item05  100.0  2018/9/30 19:11
3    u01865  item02  100.0  2018/9/30 20:14
4    u01865  item04  100.0  2018/9/30 20:14
..      ...     ...    ...              ...
948  u00646  item03  100.0  2018/10/1 23:19
949  u00646  item05  100.0  2018/10/1 23:19
950  u00646  item06  200.0  2018/10/1 23:19
951  u01254  item02  100.0  2018/10/1 23:24
952  u01254  item05  100.0  2018/10/1 23:24

[953 rows x 4 columns]

In [14]:
list(df.columns)

['user_id', 'item_id', 'price', 'timestamp']